<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    </head>
    <body>
        <h1>Hlavní strana</h1>
            
        <p><strong>Utvářejte svůj ráj:</strong> Vytvořte svět, který bude vzkvétat na základě udržitelných hodnot, a pozvěte ostatní, aby zakořenili spolu s vámi.</p>

        <p><strong>Sbírejte zkušenosti, sdílejte moudrost:</strong> Sbírejte moudrost z každého dobrodružství, předávejte ji dál a podporujte růst ostatních stejně jako vy.</p>

    </body>
</html>